@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-primary-dark: #1e40af;
  --color-app-bg: #f8fafc;
  --color-sidebar: #1e293b;
  --color-border: #e2e8f0;
  --color-text-main: #0f172a;
  --color-text-muted: #64748b;
  --color-status-open: #f59e0b;
  --color-status-progress: #3b82f6;
  --color-status-closed: #10b981;
}

@layer base {
  body {
    @apply bg-app-bg text-text-main font-sans;
  }
}
